---
// src/pages/pedals.astro
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const pedals = await getCollection('pedals');
---

<Layout title="Guitar Pedals">
  <main>
    
    <div class="flex flex-col gap-5 ">
    <h1>Our Guitar Pedals</h1>
      {pedals.map((pedal) => (
      <div class="pedal-card rounded-sm shadow-sm p-4 w-3/4">
        <a href={`/pedals/${pedal.slug}`}>
          <h1>{pedal.data.name}</h1>
        </a>
          <img src={pedal.data.image} alt={pedal.data.name} />
          <h3 class="price">Price: R {pedal.data.price}</h3>
          <p class="description">{pedal.data.description}</p>
          <a href={`/pedals/${pedal.slug}`}>View Details</a>
        </div>
      ))}
    </div>
  </main>
</Layout>


